  
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&display=swap');

@font-face {
    font-family: 'android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor-0:#c5ebd6;
    --cor-1:#83e1ad;
    --cor-2:#3ddc84;
    --cor-3:#2fa866;
    --cor-4:#1a5c37;
    --cor-5:#063d1e;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'android';
    --font-padrao: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
    font-size: 16px;
    line-height: 1.5em;
}


body {
    background-color: var(--cor-0);
}

a.externo::after {
    content: '\00A0\1F517';
}


header {
    background-image: linear-gradient(to bottom, var(--cor-3), var(--cor-5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.515);
    font-weight: normal;
}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.515);
}

nav {
    background-color: var(--cor-5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.524);
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
    transform: .5s;
}

nav > a:hover {
    background-color: var(--cor-3);
    color: var(--cor-5);
}

main {
    padding: 25px;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.51);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;


}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main img.pequena {
    /* width: 50%; */
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor-5);
    font-family: var(--font-android);
    font-size: 1.8em;
    font-weight: normal;
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor-4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor-2), transparent);
    text-indent: 10px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-5);
    transition: .5s;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor-4);
    transform: .5s;
}

main strong {
    color: var(--cor-5);
    font-weight: bold;
    background-color: var(--cor-1);
    padding: 2px 6px;
}

div.video {
    background-color: var(--cor-5);
    margin: 0px -20px 30px -20px; 
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor-1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.279);
}

aside > ul {
    list-style-type:'\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2 ;
}

aside > h3 {
    background-color: var(--cor-4);
    color: white;
    padding: 10px;
    margin:  -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}


footer  {
    text-align: center;
    background-color: var(--cor-5);
    color: white;
    text-decoration: none;
}


/* header {
    color: white;
    text-align: center;
    height: 150px;
    background-image: linear-gradient(to top, var(--cor-5) ,var(--cor-3));
    text-shadow: 1px 1px 1px black;    
}

nav {
    background-color: var(--cor-5);
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h1.header-title {
    font-family: var(--font-destaque);
    text-align: center;
    text-transform: uppercase;
}

p.header-paragraph {
    text-align: center;
}

h2 {
    font-family: var(--font-android);
}

div.video {
    position: relative;
    background-color: var(--cor-4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}


 */

